
$color-background: #F5F5F5;
$color-main: #1abc9c;
$color-active: #FFF;
$color-link: #FFF;

html {
	body {
		header {
			/*
			*	Menu Navigation
			*	codepen: https://codepen.io/riogrande/pen/gbXxdx
			*	by: Mario Loncarek <mario.loncarek@gmail.com>
			*/
			nav {
				&.navbar {
					background-color: rgba(68,104,65, 0.6);
					border: 0;
					border-radius: 0;
					box-shadow: 0 10px 20px -12px rgba(0, 0, 0, .42), 0 3px 20px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
					color: #fff;
					min-height: 0;
					-webkit-transition: all 0.6s ease-out;
					-moz-transition: all 0.6s ease-out;
					-o-transition: all 0.6s ease-out;
					-ms-transition: all 0.6s ease-out;
					transition: all 0.6s ease-out;
					&.fixed-top {
						border-radius: 0;
						margin-bottom: 0;
						.navbar-collapse {
							border-top: none;
							box-shadow: none;
							.navbar-nav {
								> li {
									&.nav-item {
										a {
											border-radius: 0px;
											color: inherit;
											font-size: 0.7rem;
											letter-spacing: 0.05rem;
											text-transform: uppercase;
											&.nav-link {
												i {
													color: transparent;	
												}
												&:hover, &:focus {
													color: #000;
												}
											}
										}
										&.dropdown {
											.dropdown-menu {
												color: #000;
												background-color: #EBEBEB;
												border: none;
												border-radius: 0;
												text-align: center;
												.dropdown-item {
													&.active {
														background-color: #cccc99;
													}
													&:hover, &:focus {
														background-color: #cccc99;
													}
												}
												.dropdown-divider {
													border-top: 1px solid #BD0008;
												}
											}
										}
										&.active {
											a {
												&.nav-link {
													i { 
														color: #BD0008;
														font-family: 'FontAwesome';
														font-size: 0.7rem;
														font-style: normal;
														font-weight: 900;
														padding-right: 0.2rem;
														&::before {
															content: "\f192";
															display: inline-block;
															vertical-align: middle;
															transition-property:all .2s linear 0s;
															-moz-transition:all .2s linear 0s;
															-webkit-transition:all .2s linear 0s;
															-o-transition:all .2s linear 0s;
														}
													}
												}
											}
										}
									}
								}
								/*
								.dropdown {
									&.open {
										>a {
											background-color: transparent;
											&:focus, &:hover {
												color: #000;
											}
										}
									}
									@media (min-width: 768px) {
										&:hover {
											.dropdown-menu {
												margin-top: 0px;
												border-top: 2px solid rgba(204, 204, 153, 0.3);
												border-radius: 0;
												font-weight: bold;
												transition: all 0.5s linear;
												-moz-transition: all 0.5s linear;
												-webkit-transition: all 0.5s linear;
												-o-transition: all 0.5s linear;
												display: block;
												transform-origin: top;
												animation-fill-mode: forwards;
												-webkit-animation-fill-mode: forwards;
											}
										}
				
										.dropdown-menu {
											// margin-top: 1px;
											opacity: 1;
											visibility: visible;
										}
									}
				
									.dropdown-menu {
										// margin-top: 1px;
										opacity: 1;
										visibility: visible;
				
										>li {
											>a {
												&:focus,
												&:hover {
												background-color: rgba(204, 204, 153, 0.3);
												color: #000;
												outline: 0;
												text-decoration: none;
												}
											}
										}
										>.active {
											>a, a:focus, a:hover {
											background-color: #CCCC99;
											color: #000;
											outline: 0;
											text-decoration: none;
											}
										}
									}
								}
								*/
							}
						}
					}
					
					&.navbar-scrolled {
						// background: rgb(249, 249, 249); //IE
						// background: rgba(249, 249, 249, 0.85); //NON-IE
						background-color: rgba(249, 249, 249, 0.95);
						color: #000;
						.navbar-collapse { 
							.navbar-nav {
								>.active { 
									>a {
										color: #000;
										background-color: transparent;
										&:focus,
										&:hover {
											background-color: transparent;
											color: #000;
										}
									}
								}
							}
						}
						/*
						.dropdown-nav {
							display: none;
							height: 50px;
							position: absolute;
							right: 25px;
							top: 70px;
							background: transparent;
							transition: all .5s ease-in-out;
			
							.dropdown-menu {
								display: block;
								position: static;
								box-shadow: none;
								// box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.175);
								border: none;
								border-radius: 0;
								margin: 0 auto;
								// background: transparent;
								background: rgba(68, 104, 65, 0.3);
								> li {
								float: left;
								> a {
									color: #000;
										width: auto !important;
										background: transparent;
										line-height: 49px;
										padding-top: 0;
										padding-bottom: 0;
										margin: 0;
										> i {
											display: none !important;
										}
										&:focus,
										&:hover {
											background-color: #CCCC99;
											color: #000;
											outline: 0;
											text-decoration: none;

											i {
												display: none;
												color: #446841;
											}
										}
									}
								}
							}
						}
						*/
					}
					.navbar-brand {
						color: inherit;
						height: 50px;
						padding: 0 15px;
						position: relative;
						// z-index: 100;
						@media (max-width: 575.98px) {
							padding: 0;
						}
						&:focus, 
						&:hover {
							color: inherit;
						}
						img {
							border: 0;
							height: 50px;
							vertical-align: middle;
						}
						.d-sm-block {
							@media (min-width: 576px) {
								display: inline !important;
							}
						}
						.d-md-block {
							@media (min-width: 768px) {
								display: inline !important;
							}
						}
						// Extra small devices (portrait phones, less than 375px)
						@media (max-width: 375px) {
							display: flex;
							span {
								padding-top: 1.4rem;
								font-size: 0.7rem;
							}
						}
					}
					.navbar-toggle {
						border: 0;
					}
				}
			}
			/*
			*	Full Screen Overlay Hamburger Menu
			*	codepen: https://codepen.io/KingKabir/pen/QyPwgG
			*	by: Kabir Shah
			*/
			button {
				&.btn {
					background-color: rgba(207, 206, 206, 0.883);
					border: 0 none;
					&#toggle {
						color: rgb(0, 0, 0);
						right: 5%;
						position: fixed;
						top: 2%;
						transition: opacity .25s ease;
						z-index: 1031;
						@media(orientation: landscape)  {
							top: 3%;
						}
						&:hover {
							opacity: .7;
							color: #987A48;
						}
						&.active {
							color: rgb(151, 95, 31);
							i { 
								&::before {
									content: "\f00d";
								}
							}
						}
						i { 
							font-family: 'FontAwesome';
							font-weight: 900;
							// font-size: 1.5rem;
							font-style: normal;
							&::before {
								content: "\f0c9";
								display: inline-block;
								// vertical-align: middle;
								transition-property:all .2s linear 0s;
								-moz-transition:all .2s linear 0s;
								-webkit-transition:all .2s linear 0s;
								-o-transition:all .2s linear 0s;
							}
						}
					}
				}
			}
			.overlay {
				position: fixed;
				background-color: rgb(3, 5, 0); /* Black w/opacity */
				top: 0;
				left: 0;
				width: 100%;
				height: 0%;
				opacity: 0;
				overflow: hidden; /* Disable horizontal scroll */
				visibility: hidden;
				transition: opacity .35s, visibility .35s, height .35s;
				z-index: 1030;
				&.open {
					opacity: 0.9;
					overflow-y: scroll;
					visibility: visible;
					height: 100%;
					
					li {
						animation: fadeInRight .5s ease forwards;
						animation-delay: .35s;
						
						&:nth-of-type(2) {
							animation-delay: .4s;
						}
						&:nth-of-type(3) {
							animation-delay: .45s;
						}
						&:nth-of-type(4) {
							animation-delay: .50s;
						}
					}
				}
				@media(orientation: landscape)  {
					padding-top: 3.6rem;
					nav {
						ul {
							li {
								a {
									font-size: 2rem;
								}
							}
						}
					}
				}
				nav {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					font-size: 2.5rem;
					text-align: center;
				
					ul {
						list-style: none;
						padding: 0;
						margin: 0 auto;
						display: inline-block;
						position: relative;
						height: 100%; 
						
						li {
							padding: 0.5rem;
							&.active {
								a {
									color: #456742;
									border-bottom: .5px solid #987A48;
									i {
										color: #BD0008;
										font-family: 'FontAwesome';
										font-size: 1.2rem;
										font-style: normal;
										padding: 0%;
										vertical-align: middle;
										&::before {
											content: "\f192";
											display: inline-block;
											// vertical-align: middle;
											transition-property:all .2s linear 0s;
											-moz-transition:all .2s linear 0s;
											-webkit-transition:all .2s linear 0s;
											-o-transition:all .2s linear 0s;
										}
									}
								}
							}
							a {
								display: block;
								position: relative;
								// color: #fff;
								text-decoration: none;
								// overflow: hidden;
								
								&:hover:after,
								&:focus:after,
								&:active:after {
									color: #fff;
									width: 100%;
								}
								&:hover {
									color: #456742;
								}
							}
						}
					}
				}
			}
		}
	}
}
