@import './_bootstrap/tfcc';

@import './partials/_navbar';
@import './partials/_fonts';
@import '../../node_modules/font-awesome/scss/font-awesome';
$fa-font-path: '../fonts/fontawesome';

@include font('Indie Flower', '../fonts/indieflower/indieflower');
@include font('Raleway', '../fonts/Raleway');

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Headings
$header-font-weight: $bold;

*{	
    -webkit-tap-highlight-color: #FFFFFF;
    -webkit-tap-highlight-color: transparent;

	:focus {
	  outline: 0;
	}
}
html {
	body {
        // background: #446841;
        // background-image: linear-gradient( 135deg, #92FFC0 0%, #002661 100%);
        background: linear-gradient(125deg, #446841 80%, #825C14);
        // background: -moz-linear-gradient(to right bottom, #446841 80%, #825C14); /* FF3.6-15 */
        // background: -webkit-linear-gradient(to right bottom, #446841 80%, #825C14); /* Chrome10-25,Safari5.1-6 */
        // background: linear-gradient(to right bottom, #446841 80%, #825C14); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        font-size: 0.9rem;
        line-height: 1.2;
        letter-spacing: 2px;

        abbr[title] {
            cursor: pointer;
        }
    }
}

// @media (-webkit-device-pixel-ratio: 2) 
//   and (orientation: portrait) {
//     background-color: #000 !important;
//     z-index: 1040;
// }
