@import './_bootstrap/mixins/_breakpoints';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

.about {
    &.page-header {
        height: 60vh;
        min-height: 65vh;
        transform: translate3d(0px, 0px, 0px); 

        .img-header {
            background-image: url('../img/t/z2.jpg'); 
            background-size: 100% 100%;
            height: 100vh;
        }
    }
    .card-deck {
        margin-bottom: 1.5rem;
        .card {
            border: 1px solid rgba(204, 204, 153, 0.1);
            text-align: center;
            .card-header {
                background-color: rgba(204, 204, 153, 0.3);
                border-radius: 0%;
                // border: 0 transparent;
            }
            .card-img-top {
                height: 232px;
                width: 100%;
                filter: grayscale(25%);
                &.sjl {
                    background-image: url('../img/t/sjl.jpg');
                    background-position: center 40%;
                    background-size: cover;
                    filter: brightness(1.1);
                }
                &.sm {
                    background-image: url('../img/t/sm.jpg');
                    background-size: cover;
                    background-position: 50% 61%;
                    filter: brightness(1.5);
                }
                &.nfm {
                    background-image: url('../img/t/nfm.jpg');
                    background-size: cover;
                    background-position: 50% 35%;
                }
            }
            .card-footer {
                background-color: rgba(204, 204, 153, 0.3);
                .social-buttons {
                    .gplus-ic {
                        color: #dd4b39;
                    }
                    .tw-ic {
                        color: #55acee;
                    }
                    .fb-ic {
                        color: #3b5998;
                    }
                    .li-ic {

                    }
                    .ins-ic {
                        color: #e95950;
                    }
                }
            }
        }
    }

    .about-0 {
        .card {
            @include media-breakpoint-down(sm) {
                text-align: center;
            }
            .card-header {
                background-color: rgba(204, 204, 153, 0.3);
                border-radius: 0%;
                border: 0 transparent;
            }
            ul {
                &.list-group {
                    .list-group-item {
                        background-color: transparent;
                        border: 1px solid rgba(204, 204, 153, 0.1);
                        &:hover {
                            background-color: #cccc9915;
                        }
                        p {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
    &.about-1 {
        .card {
            .card-img-top {
                height: 232px;
                width: 100%;
                // filter: grayscale(30%);
                &:hover {
                    // filter: grayscale(0);
                }
                &.lg {
                    background-image: url('../img/t/lg.jpg');
                    background-position: center center;
                    background-size: cover;
                }
                &.im {
                    background-image: url('../img/t/im.jpg');
                    background-position: center center;
                    background-size: cover;
                }
                &.nt {
                    background-image: url('../img/t/nt.jpg');
                    background-position: top center;
                    background-size: cover;
                }
                &.jd {
                    background-image: url('../img/t/jd.jpg');
                    background-position: center top;
                    background-size: cover;
                    filter: brightness(1.4);
                }
                &.mtm {
                    background-image: url('../img/t/mtm.jpg');
                    background-position: center center;
                    background-size: cover;
                }
                &.gp {
                    background-image: url('../img/t/gp.jpg');
                    background-position: center center;
                    background-size: cover;
                }
                &.km {
                    background-image: url('../img/t/km.jpg');
                    background-position: center 10%;
                    background-size: 90%;
                }
                &.rm {
                    background-image: url('../img/t/rm.jpg');
                    background-position: center center;
                    background-size: cover;
                    filter: brightness(1.2);
                }
                &.bb {
                    background-image: url('../img/t/bb.jpg');
                    background-position: center center;
                    background-size: cover;
                    filter: brightness(1.3);
                }
                &.pmm {
                    background-image: url('../img/t/pmm.JPG');
                    background-position: center top;
                    background-size: cover;
                    filter: brightness(1.6);
                }
                &.e1, &.e2, &.e3 {
                    background-image: url('../img/noprofile.png');
                    background-position: center center;
                    background-size: cover;
                }
                
            } 
        }
    }
}