@import './_bootstrap/mixins/_breakpoints';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

.beneficiaries {
    &.page-header {
        height: 60vh;
        min-height: 65vh;
        transform: translate3d(0px, 0px, 0px); 

        .img-header {
            background-image: url('../img/sl/dg5.jpg');
            background-size: 100% 100%;
            height: 100vh;
        }
    }

    .beneficiaries-1 {
        .card {
            margin-bottom: 10px;
            &.flex-wr {
                flex-direction: row;
            }
            @include media-breakpoint-down(md) {
                @media(orientation: portrait)  {
                    text-align: center;
                    &.flex-wr {
                        flex-direction: column;
                        img {
                            align-self: center !important;
                            height: 160px;
                            width: 170px;
                        }
                        .card-header {
                            display: block;
                        }
                        .card-body {
                            .card-title {
                                display: none;
                            }
                        }
                    }
                }
            }
            img {
                height: 215px;
                width: 215px;
                @media(orientation: landscape)  {
                    // height: 215px;
                    // width: 215px;
                    // width: 100%;
                    // height: 15.5vw;
                    // width: 50vw;
                }
                object-fit: cover;
                // align-self: center;
            }
            .card-header {
                display: none;
                background-color: rgba(204, 204, 153, 0.3);
                border-radius: 0%;
            }
            .card-body {
                .card-title {
                }
                .card-text {
                    .publication {
                    }
                }
            }
        }

        .media {
            img {
                height: 160px;
                width: 170px;
                @include media-breakpoint-down(md) {
                    @media(orientation: portrait)  {
                        height: 64px;
                        width: 64px;
                        .mr-3 {
                            margin: none;
                        }
                    }
                    align-self: center !important;
                }
            }
            .media-body {
                padding: 5px 10px;
                .media-heading {
                color: #825C14;
                    font-weight: 600;
                    text-decoration: none;
                    > small {
                        color: #000;
                        font-size: 65%;
                    }
                }
                .media-category {
                    margin: 0;
                    margin-bottom: 5px;
                }
                p {
                    line-height: 1.1;
                    &.media-description {
                        // margin-bottom: 0;
                    }
                    &.media-publication {
                        font-weight: bolder;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}