@import './_bootstrap/mixins/_breakpoints';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

.contact {
  @media(orientation: landscape)  {
    .fa-lg {
      font-size: 1.33333em;
    }
  }
  @include media-breakpoint-down(sm) {
    .fa-lg {
      font-size: 0.53333em;
    }
  }
  .map {
    background-position: bottom center;
    background-size: cover;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    margin-top: 60px;
    position: relative;
    iframe {
        height: 81vh;
        width: 100%;
    }
    .layer {
      background-color: #4468413a;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  address {
    @media (orientation: portrait) {
        @include media-breakpoint-down(sm) {
            padding-left: 0;
            text-align: center;
        }
    }
    @media (orientation: landscape) {
        @include media-breakpoint-down(sm) { 
            background-color: #446841;
            padding-left: 2.3rem;
            text-align: left;
        }
    }
    padding-left: 5rem;
    text-align: justify;
  }
  form {
      .form-group {
          padding-bottom: 7px;
          margin: 27px 0px 0px;
          textarea { 
              resize: vertical; 
          }
          .control-label {
              font-size: 12px;
              pointer-events: none;
              text-align: center;

              #charNum {
                  &.text-danger {
                      text-transform: uppercase;
                  }
              }
          }
          .form-control {
              background-color: rgba(249, 249, 249, 0.98);
              border-radius: 0;
              box-shadow: none;
              padding: 6px 2px;

              &:focus {
                  border: 0;
                  border-bottom: 0.5px solid rgba(69, 103, 67, 1.00);
                  border-radius: 0;
                  -webkit-box-shadow: none;
                  box-shadow: none;
              }

              // &:focus + label {
              //   color: rgba(69, 103, 67, 1.00);
              //   opacity: 1;
              //   transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
              // }

              //  &:invalid + label {
              //   opacity: 0;
              //   transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
              // }
          }
          >.honeypot {
              display: none;
              visibility: hidden;
              z-index: -1
          }
      }
      .btn {
          &.btn-send {
              background-color: rgba(130,92,20, 0.8);
              color: #FFF;
          }
          &:hover {
              background-color: #446841;
              color: #FFF;
              font-weight: bold;
          }
      }
      .server-error {
          display: none;
      }
  }
  .alert {
      display: none;
      position: absolute;
      width: 100%;
      z-index: 100;
  }

  .contact-0 {
    @include media-breakpoint-down(sm) {
        text-align: center;
    }
    .card {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
        .card-header {
            background-color: rgba(204, 204, 153, 0.3);
            border-radius: 0%;
            border: 0 transparent;
        }
        ul {
            border-radius: 100%;
            &.list-group {
                .list-group-item {
                    background-color: transparent;
                    border: 1px solid rgba(204, 204, 153, 0.1);
                    &:hover {
                        background-color: #cccc9915;
                    }
                    p {
                        font-size: 0.81rem;
                    }
                    img {
                        filter: opacity(50%);
                        width: 220px;
                        &:hover {
                            filter: opacity(100%);
                        }
                    }
                }
            }
        }
    }
  }
  .contact-1 {
    @include media-breakpoint-down(sm) {
        .fb-page {
            width: 100%;
        }  
    } 
  }
  @-webkit-keyframes bounce {
      0%, 100% {
      -webkit-transform: translateY(0);
      }
      50% {
      -webkit-transform: translateY(-5px);
      }
  }
  @keyframes bounce {
      0%, 100% {
      transform: translateY(0);
      }
      50% {
      transform: translateY(-5px);
      }
  }
  .animated {
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
  }
  .bounce {
      -webkit-animation-name: bounce;
      animation-name: bounce;
  }
}