/* 
    Gallery Stylesheet 
    * Lightcase import
*/
// @import url('../../node_modules/lightcase/src/css/lightcase.css');
@import '../../node_modules/lightcase/src/scss/lightcase';
@import './_bootstrap/mixins/_breakpoints';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

.gallery {
    &.page-header {
        height: 60vh;
        min-height: 65vh;
        transform: translate3d(0px, 0px, 0px); 

        .img-header {
            background-image: url('../img/g/act/7.jpg');
            background-size: 100% 100%;
            height: 100vh;
        }
    }
    .gallery-1 {
      .showcase-list {
        .showcase {
          @include media-breakpoint-down(sm) {
            width: 100% !important;
            @media(orientation: landscape)  {
                width: 50% !important;
            }
          }
          float: left;
          position: relative;
          width: 25%;
          // display: inline-block;
          padding: 6px;
          .image {
            display: block;
            position: relative;
            background-color: #f5f5f5;
            overflow: hidden;
        
            :before {
              background-color: rgba(0,0,0,0.4);
              // content: "";
              // padding-top: 100%;
              // pointer-events: none;
              // position: absolute;
              // top: 0;
              // left: 0;
              // right: 0;
              // background-color: rgba(0,0,0,0.018);
              // z-index: 1;
              // -webkit-transition: all 0.2s ease-out;
            }

            :hover, &:focus {
              // background-color: rgba(0,0,0,0.4);
              &:before {
                background-color: rgba(0,0,0,0.4);
              }
            }
            &.wallpaper {
              background-position: center;
              background-size: cover;
            }
          }
        }
      }
    }
}
