@import "./_base";

html {
  body {
    &.noscroll {
      @include media-breakpoint-down(sm) {
        overflow: hidden;
      }
    }
    section {
      background: rgba(249, 249, 249, 0.98);
      padding: 70px 0;
      position: relative;
      z-index: 3;

      &.content {
        border-radius: 3.5px;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
        margin: -60px 20px 0;
        &.page-header {
          background-color: rgba(69, 103, 67, 0.55);
          background-position: center center;
          background-size: cover;
          border: 0;
          border-radius: 0;
          box-shadow: none;
          // height: 100vh;
          margin: 0;
          padding: 0;
          overflow: hidden;

          .carousel {
            .carousel-inner {
              .carousel-item {
                .img-slide {
                  background-repeat: no-repeat;
                  background-position: 50% 20%;
                  background-size: cover;
                  height: 100vh;
                  margin: 0;
                  position: relative;
                  opacity: 0.85;
                  
                  .carousel-caption {
                    background-color: rgba(65,65,65, 0.2);
                    color: #fff;
                    padding: 10px;
                    margin-bottom: 50px;
                    text-transform: uppercase;
                    text-shadow: 0.1px 0.1px 0 rgba(0,0,0,0.8);
                    z-index: 3;
                    bottom: 1.4rem;

                    h4 {
                      font-size: 1rem;
                    }
                    p {
                      font-size: 0.75rem;
                    }
                  }

                  &.sl1 {
                    background-image: url('../img/sl/dg6.jpg');
                    .carousel-caption {
                      right: 7rem;
                      left: auto;
                      text-align: right; 
                    }
                  }
                  &.sl2 {
                    background-image: url('../img/sl/dg5.jpg');
                    .carousel-caption {
                      left: auto;
                      text-align: center; 
                    }
                  }
                  &.sl3 {
                    background-image: url('../img/sl/dg8.jpg');
                    .carousel-caption {
                        right: auto;
                        left: 7rem;
                        text-align: left; 
                    }
                  }
                  &.sl4 {
                    background-image: url('../img/sl/dg10.jpg');
                    .carousel-caption {
                        right: auto;
                        left: 7rem;
                        text-align: left; 
                    }
                  }
                  &.sl5 {
                    background-image: url('../img/sl/dg7.jpg');
                    .carousel-caption {
                      right: 7rem;
                      left: auto;
                      text-align: right; 
                    }
                  }
                  &.sl6 {
                    background-image: url('../img/g/m/2.jpg');
                    .carousel-caption {
                      right: 7rem;
                      left: auto;
                      text-align: right; 
                    }
                  }
                  &.sl7 {
                    background-image: url('../img/g/ten/4.JPG');
                    .carousel-caption {
                      right: 7rem;
                      left: auto;
                      text-align: right; 
                    }
                  }
                }
              }
            }
          }
        }

        &.intro {
          &.page-header {
            height: 100vh;
          }
          .intro-0 {
            @include media-breakpoint-down(sm) {
              .description {
                text-align: center;
              }
            }
          }
          .intro-1 {
            img {
              height: 192.02px;
            }
          }
          .social {
            .title, .description, .info {
              text-decoration: line-through;
            }
            .research > .description {
              text-decoration: none;	
            }
          }
          .partners {
            padding-bottom: 100px;
            .card {
              background-color: transparent;
              border: 0;
              border-radius: 0;
              margin: 1rem 0.5rem;
              width: auto;
              img {
                margin: 0 auto;
                max-width: 150px;
              }
              @include media-breakpoint-down(sm) {
                margin: 1rem 0;
              }
            }
          }
        }
        .card {
          border: .75px solid rgba(0, 0, 0, 0.061);
          border-radius: 0;
          word-wrap: normal;
          .card-body {
            .card-text {
              font-size: 0.9rem;
            }
          }
        }

        h2>title {
          margin-top: 15px;
          margin-bottom: 5px;
        }
        hr {
          border-color: rgba(204, 204, 153, 0.2);
        }
        p {
          line-height: 1.1;
        }
        .title, .title a {
          color: #825C14;
          font-weight: 600;
          text-decoration: none;
        }
      }
          
      &.break {
        background: none;
        padding: 65px 0 50px;
        position: relative;
        top: -30px;

        &.carousel {
          padding: 20px 0 20px;
          z-index: 0;
          .multi-item-carousel {
            .carousel-inner {
              // padding: 0 45px;
              > .item {
                // transition: 500ms ease-in-out left;
                transition: none;
                margin: 0;
                img {
                  height: 210px;
                }
              }
              .active {
                &.left {
                  left:-33%;
                }
                &.right {
                  left:33%;
                }
              }
              .next {
                left: 33%;
              }
              .prev {
                left: -33%;
              }
              /* @media all and (transform-3d), (-webkit-transform-3d) {
                > .item {
                  // use your favourite prefixer here
                  // transition: 500ms ease-in-out left;
                  // transition: 500ms ease-in-out all;
                  // backface-visibility: visible;
                  // transform: none!important;
                }
              } */
            }
            .carousel-control {
              &.left, &.right {
                background-image: none;
                background-image: linear-gradient(to right,rgba(255,255,255,.5) 0,rgba(0,0,0,.0001) 100%);
              }
            }
          }
        }

        blockquote {
          // Indie_Flower
          font-family: 'Indie Flower', 'cursive';
          border-left: 5px solid #eee;
          padding: 10px 20px;
          &.text-right {
            border-left: 0 none;
            border-right: 5px solid #eee;
          }
          >p {
            color: #fff;
            >.lead {
              color: #fff;
              font-size: 1.3em;
              letter-spacing: 7.5px;
            }
          }
          footer {
            > cite {
              color: #fff;
              background-color: transparent;
              font-size: 1.3em;
              text-transform: capitalize;
            }
          }
          .small:before, 
          footer:before,
          small:before {
            color: #fff
          }
        }

        .scroll-top {
          background: rgba(110, 120, 110, 0.8) no-repeat center 50%;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
          display: block;
          height: 40px;
          margin: 0 50%;
          overflow: hidden;
          position: absolute;
          text-indent: 100%;
          white-space: nowrap;
          width: 40px;
          -webkit-transition: opacity .3s 0s, visibility 0s .3s;
          -moz-transition: opacity .3s 0s, visibility 0s .3s;
          transition: opacity .3s 0s, visibility 0s .3s;
                        
          &:hover {
            -webkit-transition: opacity .3s 0s, visibility 0s 0s;
            -moz-transition: opacity .3s 0s, visibility 0s 0s;
            transition: opacity .3s 0s, visibility 0s 0s;
            background-color: rgba(130,92,20, 0.5);
          }
        }
      }
    }
      
    footer {
      &.footer-white {
        background-color: rgba(249, 249, 249, 0.85);
      }
      .social-bar {
        background-color: rgba(130, 92, 20, 0.198);
        .social-buttons {
          i {
            @include media-breakpoint-down(sm) {
              font-size: 1.833333em;
            }
          }
          .gplus-ic {
            color: #dd4b39;
          }
          .tw-ic {
            color: #55acee;
          }
          .fb-ic {
            color: #3b5998;
          }
          .li-ic {

          }
          .ins-ic {
            color: #e95950;
          }
        }
      }
      .footlinks {
        hr {
          border-top: 1.4px dotted rgba(130, 92, 20, 0.198);
          margin: 9.5px; 
        }

        .foot-content {
          text-align: center;
          margin-bottom: 0;
          justify-content: center;
        }
      }
      hr {
        border-top: 1.4px dotted rgba(130, 92, 20, 0.198);
        margin: 9.5px; 
      }
      .pull-center {
        display: inline-block;
        float: none;
      }
    }
  }
}


@include media-breakpoint-down(md) {
  html {
    body {
      section {
        &.content {
          border-radius: 0;
          box-shadow: none;
          margin: 4.2rem 0 1.5rem;
          padding: 1.5rem;
          &.brk {
            margin: 0 0 1.5rem;
            .card {
              margin: 1rem 0;
            }
          }
        }
        &.break {
          padding: 0.5rem 0;
          top: 0;
        }
      }
    }
  }
}